/* Button | DropDownButton | ComboButton | ToggleButton
 *
 * Styling Buttons mainly includes:
 *
 * 1. Containers
 * 		.dijitButton
 * 		.dijitDropDownButton
 * 		.dijitComboButton
 * 		.dijitButtonNode - common button/arrow wrapper shared across all three button types
 *
 * 2. Button text
 * 		.dijitButtonText
 *
 * 3. Arrows - only for DropDownButton and ComboButton
 * 	     There are total four directions arrows - down, left, right, up:
 * 		.dijitArrowButtonInner - down arrow by default
 *      .dijitLeftArrowButton .dijitArrowButtonInner - left arrow
 *      .dijitRightArrowButton .dijitArrowButtonInner - right arrow
 *      .dijitUpArrowButton .dijitArrowButtonInner - up arrow
 *
 * 4. States - Hover, Active, Disabled, e.g.
 * 		.dijitButtonHover .dijitButtonNode
 * 		.dijitButtonActive .dijitButtonNode
 * 		.dijitButtonDisabled .dijitButtonNode
 *
 *      .dijitDisabled .dijitArrowButtonInner  - disabled arrow states
 */
.claro .dijitButtonNode {
  /* rules for dijit.form.*Button widgets and arrow nodes on ComboBox, Spinner etc. */

  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dijitButton .dijitButtonNode,
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  /* rules for the dijit.form.*Button widgets (see also ComboButton section below) */

  border: 1px solid #d8d8d8;
  padding: 2px 4px;
  color: #666666;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #eeeeee;
  background-image: none;
}
.claro .dijitComboButton .dijitArrowButton {
  border-left-width: 0;
  padding: 0 2px;
}
/*arrow styles for down/up/left/right directions*/
.claro .dijitArrowButtonInner {
  width: 15px;
  height: 15px;
  margin: 0 auto;
  background-image: url("../form/images/buttonArrows.png");
  background-repeat: no-repeat;
  background-position: -51px 53%;
  opacity: .3;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.claro .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -77px 53%;
}
.claro .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -26px 53%;
}
.claro .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: 0 53%;
}
.claro .dijitDisabled .dijitArrowButtonInner {
  background-position: -151px 53%;
}
.claro .dijitDisabled .dijitLeftArrowButton .dijitArrowButtonInner {
  background-position: -177px 53%;
}
.claro .dijitDisabled .dijitRightArrowButton .dijitArrowButtonInner {
  background-position: -126px 53%;
}
.claro .dijitDisabled .dijitUpArrowButton .dijitArrowButtonInner {
  background-position: -100px 53%;
}
.claro .dijitOpened .dijitArrowButtonInner,
.claro .dijitDropDownButtonHover .dijitArrowButtonInner,
.claro .dijitSelectHover .dijitArrowButtonInner,
.claro .dijitDownArrowButtonHover .dijitArrowButtonInner,
.claro .dijitLeftArrowButtonHover .dijitArrowButtonInner,
.claro .dijitRightArrowButtonHover .dijitArrowButtonInner,
.claro .dijitUpArrowButtonHover .dijitArrowButtonInner {
  opacity: .7;
}
.claro .dijitDisabled .dijitArrowButtonInner {
  opacity: .2;
}
.claro .dijitButtonText {
  padding: 0 0.3em;
  text-align: center;
}
/* hover status */
.claro .dijitButtonHover .dijitButtonNode,
.claro .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNodeHover,
.claro .dijitComboButton .dijitDownArrowButtonHover,
.claro .dijitToggleButtonHover .dijitButtonNode {
  background-color: #e5e5e5;
  border-color: #cccccc;
  color: #222222;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* active, checked status */
.claro .dijitButtonActive .dijitButtonNode,
.claro .dijitDropDownButtonActive .dijitButtonNode,
.claro .dijitComboButtonActive .dijitButtonNode,
.claro .dijitToggleButtonActive .dijitButtonNode,
.claro .dijitToggleButtonChecked .dijitButtonNode {
  background-color: #dddddd;
  border-color: #cccccc;
  color: #222222;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  transition-duration: 0;
}
/* disabled status */
.claro .dijitButtonDisabled,
.claro .dijitDropDownButtonDisabled,
.claro .dijitComboButtonDisabled,
.claro .dijitToggleButtonDisabled {
  background-image: none;
  outline: none;
}
.claro .dijitButtonDisabled .dijitButtonNode,
.claro .dijitDropDownButtonDisabled .dijitButtonNode,
.claro .dijitComboButtonDisabled .dijitButtonNode,
.claro .dijitToggleButtonDisabled .dijitButtonNode {
  background-color: #eeeeee;
  border: solid 1px #dddddd;
  color: rgba(68, 68, 68, 0.5);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}
.claro .dijitComboButtonDisabled .dijitArrowButton {
  border-left-width: 0;
}
/* for ComboButton */
.claro table.dijitComboButton {
  border-collapse: separate;
  /* override dijit.css so that ComboBox rounded corners work */

}
.claro .dijitComboButton .dijitStretch {
  -moz-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
}
.claro .dijitComboButton .dijitArrowButton {
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}
