/* TitlePane and Fieldset
 *
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 *
 * TitlePane title:
 * 1. TitlePane title (default styling):
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 *
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 *
 *
 * TitlePane Content Container:
 * 1. outer/inner container:
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.claro .dijitTitlePaneTitle {
  background-color: #eeeeee;
  background-image: none;
  border: 1px solid #d8d8d8;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  color: #666666;
}
.claro .dijitFieldset {
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.claro .dijitTitlePaneTitleOpen,
.claro .dijitTitlePaneTitleFixedOpen {
  background-color: #ffffff;
  color: #444444;
}
.claro .dijitTitlePaneTitleHover {
  background-color: #e1e1e1;
  border-color: #cccccc;
}
.claro .dijitTitlePaneTitleActive {
  background-color: #dddddd;
  border-color: #bfbfbf;
  background-image: none;
}
.claro .dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}
.claro .dijitTitlePane .dijitArrowNode,
.claro .dijitFieldset .dijitArrowNode {
  background-image: url("images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.claro .dijitTitlePaneTitleOpen .dijitArrowNode,
.claro .dijitFieldsetTitleOpen .dijitArrowNode {
  background-position: 0 0;
}
.claro .dijitTitlePaneTitleClosed .dijitArrowNode,
.claro .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}
.claro .dijitTitlePaneContentOuter {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-top: none;
}
.claro .dijitTitlePaneContentInner {
  padding: 10px;
}
.claro .dijitFieldsetContentInner {
  padding: 4px;
}
.claro .dijitTitlePaneTextNode,
.claro .dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
